@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: hsla(0, 0%, 5%, 1);
  --gray-1: hsla(0, 0%, 100%, 1);
  --orange: hsla(22, 65%, 57%, 1);
}

@theme inline {
  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray-1: var(--gray-1);
  --color-orange: var(--orange);

  /* fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  @apply max-w-6xl mx-auto px-4;
}

.bdr {
  @apply border border-red-500;
}
